python-dotenv
PyPDF2 
python-docx 
autopep8==2.0.2 
certifi==2023.7.22 
charset-normalizer==3.1.0 
idna==3.4 
pycodestyle==2.10.0 
pydub==0.25.1 
requests==2.31.0 
SpeechRecognition==3.9.0 
tomli==2.0.1 
urllib3==1.26.14 
langdetect 
streamlit
moviepy==1.0.3
beautifulsoup4 
requests
imageio[ffmpeg]  
numpy  
httpx==0.24.1
httpcore<0.17.0
webscraper
pytesseract
Pillow
opencv-python
yt-dlp
